<div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h4><b>Add New Book</b></h4>
            </div>
            <div class="col-sm-6">
              <!-- <button class="btn btn-success" (click)="AddConnection()">
                <i class='fas fa-plus-circle'></i><span> ADD Connection</span>
              </button> -->
                         
              <a href="#" routerLink="/Home" class="btn btn-success back"><i class='fas fa-arrow-circle-left'></i>
                 Back</a>
            </div>
          </div>
        </div>
        <form #bookForm="ngForm">
          <div class="table-content">
            
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label for="Title" class="p-t-b-10">Title<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="title" required maxlength="25"
                  [(ngModel)]="addBookForm.title" name="title" #title="ngModel">
                <div *ngIf="title.errors && isSubmitted" class="alert alert-danger validationError">
                  <div [hidden]="!title.errors?.['required']">
                    Title is required
                  </div>
                </div>
              </div>
            </div>
           
            
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label class="p-t-b-10">Author<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="author" required maxlength="10"
                  [(ngModel)]="addBookForm.author" name="author" #author="ngModel" >
                <div *ngIf="author.errors && isSubmitted" class="alert alert-danger validationError">
                  <div [hidden]="!author.errors?.['required']">
                    Author is required
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group p-10 row">
                <div class="col-sm-3">
                  <label for="Title" class="p-t-b-10">Publications<span class="requiredStar">*</span></label>
                </div>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="title" required maxlength="25"
                    [(ngModel)]="addBookForm.publications" name="publications" #publications="ngModel">
                  <div *ngIf="publications.errors && isSubmitted" class="alert alert-danger validationError">
                    <div [hidden]="!publications.errors?.['required']">
                      Title is required
                    </div>
                  </div>
                </div>
              </div>


           


          </div>
          <div class="table-footer">
            <button class="btn btn-success" (click)="AddBook(bookForm.form.valid)">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>